<div style="display:none;">
</div>
<body
style="width:80%;color:black;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin:0 auto 0 auto">
    <center>
        <header>
        <h1 style="background-color:black;padding: 1em 0 1em;color:White;">Relatório do acesso</h1>
        </header>
    </center>
    <div style="margin:2em 15% 2em 10%;justify-content:center;display: flex; flex-flow: row wrap; width:80%;">
    <section >
        <h2 style="text-align:left;">Descrição do dispositivo</h2>
        <table style="text-align: right;font-size: 1.5em;margin-right:5%; ">
                    <tr>
                        <th>Hostname:</th>
                        <td style="text-align: left;">raphael-notebook
</td>
                    </tr>
                    <tr>
                        <th>Tipo:</th>
                        <td style="text-align: left;"> laptop</td>
                    </tr>
                    <tr>
                        <th>OS:</th>
                        <td style="text-align: left;"> Ubuntu 18.04.4 LTS</td>
                    </tr>
                </table>

       
    </section>
    <section>
        <h2 style="text-align:left;">Descrição do acesso</h2>
        <table style="text-align: right;font-size: 1.5em; ">
            <tr>
                <th>Data:</th>
                <td style="text-align: left;">
31/05/20</td>
            </tr>
            <tr>
                <th>Hora:</th>
                <td style="text-align: left;">
14:32:17</td>
            </tr>
           
            <tr>
                <th>IP:</th>
                <td style="text-align: left;">
186.228.167.37</td>
            </tr>
        </table>
       
    </section>
</div>

    <center>
        <footer style="background-color:black; padding:0.01em 0 0.01em 0;">
            <h3> <a style="color:white;" target="_blank" href="https://raphaelbrodrigues.github.io"> ©
            RaphaelBRodrigues </a></h3>
        </footer>
    </center>

</body>